.navbar {
    margin-top: 40px;
    
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.btn-add {
    margin-right: 10px;
}

hr.top {
    margin-bottom: 30px;
}

hr.bottom {
    margin-top: 30px;
}

.scandiweb {
    text-align: center;
    margin-bottom: 20px;
    
}

.product-info {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}